<!-- ============================================================== -->
<!--                          MAIN WRAPPER                          -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>
    
    <app-sidebar></app-sidebar>

        <!-- ============================================================== -->
        <!--                          PAGE WRAPPER                          -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!--                       CONTAINER FLUID                          -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <app-breadcrumbs></app-breadcrumbs>

                <router-outlet></router-outlet>

            </div>
            <!-- ============================================================== -->
            <!--                       CONTAINER FLUID                          -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!--                          PAGE WRAPPER                          -->
        <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!--                          MAIN WRAPPER                          -->
<!-- ============================================================== -->